#pic_show.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel.heading.pic_image
        = image_tag @pic.image.url
      .panel.body
        %h1= @pic.title
        %p= @pic.description
      .panel.footer
        .row
          .col-md-6
            %p.user
              by
              = @pic.user.try(:email)
          .col.md-6
            .btn-group.pull-right
              = link_to like_pic_path(@pic), method: :put, class: "btn btn-default" do
                %span.glyphicon.glyphicon-thumbs-up
                = @pic.get_upvotes.size
              - if user_signed_in?
                = link_to "Fix Pic",edit_pic_path, class: "btn btn-info"
                = link_to "Delete",pic_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger"
#comment.col-sm-6.col-sm-offset-3
  %h2 Comment
  %ul
    - @pic.pic_comment.each do |pic_comment|
      %li
        = pic_comment.comment
        (
        %i>= pic_comment.user_id
        )
  = form_for(@pic_comment) do |f|
    .field
      = f.label :"Write your comment here"
      %br
        = f.text_field :comment
        = f.hidden_field :pic_id, :value => @pic.id
    .action
      = f.submit :Post, class: "btn btn-primary btn-sm"                